define host{
	name                            generic-percona-host
        check_period                    24x7
        check_interval                  5
        retry_interval                  1
        max_check_attempts              10
        check_command                   check-host-alive
        notification_period             24x7
        notification_interval           30
        notification_options            d,r
        contact_groups                  admins
}

{% for host in groups['small-nodes'] %}
define host{
	use                             generic-percona-host
	host_name			{{ hostvars[host]['ansible_hostname'] }}
	alias				{{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}
	address				{{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}
}
{% endfor %}

define hostgroup {
        hostgroup_name          mysql-servers
        alias                   mysql-servers
	members 		{% set comma = joiner(",") %}{%- for host in groups['small-nodes'] -%}
		{{ comma() }}{{ hostvars[host]['ansible_hostname'] }}
	{%- endfor %}

}
