define service{
        use                     	generic-service
	hostgroup_name                  mysql-servers
        service_description     	Memoria
        check_command           	check_nrpe!rdba_unix_memory
        }

define service{
        use                     	generic-service
	hostgroup_name                  mysql-servers
        service_description     	MySQL PID File
        check_command           	check_nrpe!rdba_mysql_pidfile
        }

define service{
        use                     	generic-service
	hostgroup_name                  mysql-servers
        service_description     	MySQL Deleted Files
        check_command           	check_nrpe!rdba_mysql_deleted_files
        }

define service{
        use                             generic-service
        hostgroup_name                  mysql-servers
        service_description             NRPE Service
        check_command                   check_nrpe_service
        }

define service{
        use                             generic-service
        hostgroup_name                  mysql-servers
        service_description             MySQL Service
        check_command                   check_mysql_service
        }

define service{
        use                             generic-service
        hostgroup_name                  mysql-servers
        service_description             Free Memory
        check_command                   check_nrpe!rdba_unix_memory
        }

define service{
        use                             generic-service
        hostgroup_name                  mysql-servers
        service_description             MySQL PID
        check_command                   check_nrpe!rdba_mysql_pidfile
        }

define service{
        use                             generic-service
        hostgroup_name                  mysql-servers
        service_description             MySQL Processlist
        check_command                   check_mysql_processlist!states_count!16!32
        }

define service{
        use                             generic-service
        hostgroup_name                  mysql-servers
        service_description             MySQL User Connections 
        check_command                   check_mysql_processlist!max_user_conn!90!95
        }

define service{
        use                             generic-service
        hostgroup_name                  mysql-servers
        service_description             MySQL Connections
        check_command                   check_mysql_connections
        }

define service{
        use                             generic-service
        hostgroup_name                  mysql-servers
        service_description             MySQL Active Threads
        check_command                   check_mysql_active_threads!40!400
        }

define service{
        use                             generic-service
        hostgroup_name                  mysql-servers
        service_description             MySQL InnoDB Idle Blocker
        check_command                   check_mysql_innodb!idle_blocker_duration!60!600
        }

define service{
        use                             generic-service
        hostgroup_name                  mysql-servers
        service_description             MySQL InnoDB Long Transaction 
        check_command                   check_mysql_innodb!max_duration!86400!172800
        }

define service{
        use                             generic-service
        hostgroup_name                  mysql-servers
        service_description             MySQL InnoDB Lock Waits 
        check_command                   check_mysql_innodb!waiter_count!10!25
        }

define service{
        use                             generic-service
        hostgroup_name                  mysql-servers
        service_description             MySQL Replication Running
        check_command                   check_mysql_replication_running
        }

define service{
        use                             generic-service
        hostgroup_name                  mysql-servers
        service_description             MySQL Replication Delay
        check_command                   check_mysql_replication_delay!300!600
        }

