command[rdba_unix_memory]=/usr/lib64/nagios/plugins/pmp-check-unix-memory -d -w 96 -c 98
command[rdba_mysql_pidfile]=/usr/lib64/nagios/plugins/pmp-check-mysql-pidfile
command[rdba_mysql_deleted_files]=/usr/lib64/nagios/plugins/pmp-check-mysql-deleted-file
